# Go binaries
bin/
obj/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories
vendor/

# Environment variables
.env
.env.local

# IDEs
.idea/
.vscode/

# Local Certificates (Crucial for a proxy)
certs/*.key
certs/*.pem
!certs/README.md
certs/*.crt

# ONNX Runtime and Models
onnxruntime.dll
models/
